<h1 class="p-3 mb-2 bg-dark text-white">Editing Employee</h1>

<%= render "form", employee: @employee %>

<br/>

<div>
    <%= link_to "Show this employee", @employee%> |
    <%= link_to "Back to employees", employees_path%>