<h1 class="p-3 mb-2 bg-dark text-white">Editing Leave Request of Employee</h1>

<%= render "form", leave_request: @leave_requests %>

<br/>

<div>

    <%= link_to "Back to Leave Request Table", leave_requests_path%>