/* .notice { */
    /* background-color: red; */
    /* color: green; */
    /* padding: 10px; */
    /* text-align: center; */
  /* } */

  .show {
    background-color: rgba(131, 100, 100, 0.753); 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    width: 400px; 
  }

  .name {
            font-size: 16px; 
            color: rgb(67, 65, 70);
            font-weight: bold; 
            text-decoration: underline; 
            font-family: Arial, sans-serif; 
        }


.button {
            color: white; 
            border: none; 
            padding: 10px 20px;
            border-radius: 5px; 
            cursor: pointer; 
          }
  

  